<article>
    <div class="bg-light">

        <nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
            <a class="navbar-brand" href="http://localhost:3000">
                <img src=".\public\images\logo.jpg" alt="Budget Tracker" width="130" height="90">
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="./howitworks">How it works</a>
                    </li>
                </ul>
                {{#if error}}
                <div class="alert alert-danger" role="alert">
                    {{error}}
                </div>
                {{/if}}
                {{#if logoutMsg}}
                <div class="alert alert-success" role="alert">
                    {{logoutMsg}}
                </div>
                {{/if}}
                <a href="/Logout"><button class="btn btn-outline-info my-2 my-sm-0 mr-3" name="login" id="login"
                        type="submit">Logout</button></a>
            </div>
        </nav>

        <div class="title">
            <p class="animation-aboutus"><br/>team budget tracker</p>
        </div>

        <div class="card-group">

            <div class="card" style="max-width: 18rem; max-height: 24rem;">
                <div class="image-area">
                <div class="img-wrapper">
                    <img src=".\public\images\dj.jpg" alt="Devesh Jain">
                    <h2>Devesh Jain</h2>
                    <ul>
                        <li><a href="https://github.com/deveshsjain"><i class="fab fa-github"></i></a></li>
                        <li><a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="https://twitter.com"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="https://www.youtube.com"><i class="fab fa-youtube"></i></a></li>
                    </ul>
                </div>
                </div>
            </div>

            <div class="card ml-5" style="max-width: 18rem; max-height: 24rem;">
                <div class="image-area">
                <div class="img-wrapper">
                    <img src=".\public\images\ss.jpg" alt="Shikha Soneji">
                    <h2>Shikha Soneji</h2>
                    <ul>
                        <li><a href="https://github.com/Janiece-Pandya"><i class="fab fa-github"></i></a></li>
                        <li><a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="https://twitter.com"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="https://www.youtube.com"><i class="fab fa-youtube"></i></a></li>
                    </ul>
                </div>
                </div>
            </div>

            <div class="card ml-5" style="max-width: 18rem; max-height: 24rem;">
                <div class="image-area">
                <div class="img-wrapper">
                    <img src=".\public\images\jp.jpg" alt="Janiece Pandya">
                    <h2>Janiece Pandya</h2>
                    <ul>
                        <li><a href="https://github.com/Janiece-Pandya"><i class="fab fa-github"></i></a></li>
                        <li><a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="https://twitter.com"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="https://www.youtube.com"><i class="fab fa-youtube"></i></a></li>
                    </ul>
                </div>
                </div>
            </div>

            <div class="card ml-5" style="max-width: 18rem; max-height: 24rem;">
                <div class="image-area">
                <div class="img-wrapper">
                    <img src=".\public\images\rg.jpg" alt="Rozy Gupta">
                    <h2>Rozy Gupta</h2>
                    <ul>
                        <li><a href="https://github.com/RozyGupta"><i class="fab fa-github"></i></a></li>
                        <li><a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="https://twitter.com"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="https://www.youtube.com"><i class="fab fa-youtube"></i></a></li>
                    </ul>
                </div>
                </div>
            </div>


        </div>
    </div>
</article>