<article>
    <div class="bg-light">
        <nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
            <a class="navbar-brand" href="http://localhost:3000">
                <img src=".\public\images\logo.jpg" alt="Budget Tracker" width="130" height="90">
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="./howitworks">How it works</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="./aboutus">About Us</a>
                    </li>

                </ul>
            </div>
        </nav>

        <div class="card-group">
            <div class="card ml-5" style="max-width: 18rem; max-height: 24rem;">
                <img src=".\public\images\rg.jpg" class="card-img-top img-fluid" alt="Rozy Gupta" height="300"
                    width="300">
                <h5 class="card-title text-white text-center">Rozy Gupta</h5>
                <p class="card-text">We</p>
            </div>
            <div class="card ml-5" style="max-width: 18rem; max-height: 24rem;">
                <img src=".\public\images\dj.jpg" class="card-img-top img-fluid" alt="Devesh Jain" height="300"
                    width="300">
                <h5 class="card-title text-white text-center">Devesh Jain</h5>
                <p class="card-text">are</p>
            </div>
            <div class="card ml-5" style="max-width: 18rem; max-height: 24rem;">
                <img src=".\public\images\jp.jpg" class="card-img-top img-fluid" alt="Janice Pandya" height="300"
                    width="300">
                <h5 class="card-title text-white text-center">Janice Pandya</h5>
                <p class="card-text">team</p>
            </div>
            <div class="card ml-5" style="max-width: 18rem; max-height: 24rem;">
                <img src=".\public\images\ss.jpg" class="card-img-top img-fluid" alt="Shikha Soneji" height="300"
                    width="300">
                <h5 class="card-title text-white text-center">Shikha Soneji</h5>
                <p class="card-text">Budget Tracker</p>
            </div>
        </div>

    </div>
</article>