<article>
    <div class="bg-light">
        <nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
            {{!-- <a class="navbar-brand" href="http://localhost:3000">Budget Tracker</a> --}}
            <a class="navbar-brand" href="http://localhost:3000"><img src="./public/images/logo.jpg" alt="Budget Tracker" width="130" height="90"></a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="./howitworks">How it works</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="./aboutus">About Us</a>
                    </li>
                
                </ul>
                {{#if error}}
                <div class="alert alert-danger" role="alert">
                    {{error}}
                </div>
                {{/if}}
                {{#if logoutMsg}}
                <div class="alert alert-success" role="alert">
                    {{logoutMsg}}
                </div>
                {{/if}}
                <a href="/Logout"><button class="cust-button my-2 my-sm-0 mr-3" name="login" id="login"
                        type="submit">Logout</button></a>
            </div>
        </nav>

        <form id="deposit-form" method="POST" action="/bankdetails">
            {{#if alertMsg}}
            <p class="alertMsg">{{alertMsg}}</p>
            {{/if }}
            <div class="card border-primary mb-3 mx-auto">
                <div class="card-header bg-dark text-font-white">Add Bank Account</div>
                <div class="card-body text-primary">
                    <div class="d-inline text-font-black">Account Type:</div>
                    <input type="text" name="accounttype" id="accounttype" class="form-control col-10 mt-2"
                        id="basic-url" aria-describedby="basic-addon3" required>

                    <div class="d-inline text-font-black">Bank Name:</div>
                    <input type="text" name="bankname" id="bankname" class="form-control col-10 mt-2" id="basic-url"
                        aria-describedby="basic-addon3" required>

                    <div class="d-inline text-font-black">Amount:</div>
                    <input type="text" name="amount" id="amount" class="form-control col-10 mt-2" id="basic-url"
                        aria-describedby="basic-addon3" required>

                    <div class="d-inline text-font-black">Account Open Date:</div>
                    <input type="date" name="accountopendate" id="accountopendate" class="form-control col-10 mt-2"
                        id="basic-url" aria-describedby="basic-addon3" required>
                </div>
                <div class="modal-footer bg-dark">
            <input type="submit"  name="addnewaccount" id="addnewaccount" formaction  ="bankdetails/add"value="Add New Account " onclick="window.location.href='/bankdetails/add'" class="btn btn-secondary"/>           

            <button type="submit" name="ok" id="ok" onclick="window.location.href='/expenses'" class="cust-button">Next</button>
         </form>
        
    </div>
</article>