<article>
    <div class="bg-light">
        <nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
            <a class="navbar-brand" href="http://localhost:3000">Budget Tracker</a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="./howitworks">How it works</a>
                    </li>
                </ul>
                {{#if error}}
                <div class="alert alert-danger" role="alert">
                    {{error}}
                </div>
                {{/if}}
                {{#if logoutMsg}}
                <div class="alert alert-success" role="alert">
                    {{logoutMsg}}
                </div>
                {{/if}}
                <a href="/Logout"><button class="btn btn-outline-success my-2 my-sm-0" name="login" id="login"
                        type="submit">Logout</button></a>
            </div>
        </nav>
        <form id="creditcardinfo-form" method="POST" action="/creditcardinfo">
            {{#if alertMsg}}
            <p class="alertMsg">{{alertMsg}}</p>
            {{/if }}
            <div class="card border-primary mb-3 mx-auto">
                <div class="card-header bg-dark text-font-white">Add Credit card</div>
                <div class="card-body text-primary">
                    {{!-- <h5 class="card-title">Add Bank Account</h5> --}}

                    <div class="dropdown">
                        <div class="d-inline text-font-black">Bank</div>
                        <select id="bankname" name="bankname" class="form-control btn-primary col-10 mt-2 mb-2" required>
                            <option value="">BoFA</option>
                            <option value="Gold">Chase</option>
                            <option value="Platinum">Wells Fargo</option>
                            <option value="Diamond">TD</option>
                        </select>
                        {{!-- </div> --}}
                    </div>
                    <div class="d-inline text-font-black">Amount Due</div>
                    <input type="text" class="form-control col-10 mt-2" name="amountdue" id="amountdue"
                        aria-describedby="basic-addon3">

                    {{!-- <div class="d-inline text-font-black">Amount:</div>
                    <input type="text" class="form-control col-10" name="amount" id="amount"
                        aria-describedby="basic-addon3">

                    <div class="d-inline text-font-black">Mode of Payment:</div>
                    <input type="text" class="form-control col-10" name="modeofpayment" id="modeofpayment"
                        aria-describedby="basic-addon3">

                    <div class="d-inline text-font-black">Date:</div>
                    <input type="date" class="form-control col-10" name="date" id="date"
                        aria-describedby="basic-addon3">

                    <div class="d-inline text-font-black">Comments:</div>
                    <input type="text" class="form-control col-10" name="comments" id="comments"
                        aria-describedby="basic-addon3"> --}}

                </div>
                <div class="modal-footer bg-dark">
                    <a href="./creditcardinfo"><button type="submit" name="addnewexpenses" id="addnewexpenses"
                            class="btn btn-secondary">Add New Card</button></a>
                    <a href="./expenses"><button type="button" name="previous" id="previous"
                            class="btn btn-secondary" data-dismiss="modal">Previous</button></a>
                    <a href="./loan"><button type="button" name="next" id="next" class="btn btn-primary">Next</button></a>
                </div>
        </form>
    </div>
</article>