<article>
    <div class="bg-light">
        <nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
            <a class="navbar-brand" href="http://localhost:3000"><img src="./public/images/logo.jpg" alt="Budget Tracker" width="130" height="90"></a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="./howitworks">How it works</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="./aboutus">About Us</a>
                    </li>
                </ul>
                {{#if error}}
                <div class="alert alert-danger" role="alert">
                    {{error}}
                </div>
                {{/if}}
                {{#if logoutMsg}}
                <div class="alert alert-success" role="alert">
                    {{logoutMsg}}
                </div>
                {{/if}}
                <a href="/Logout"><button class="cust-button my-2 my-sm-0 mr-3" name="login" id="login"
                        type="submit">Logout</button></a>
            </div>
        </nav>
        <form id="creditcardinfo-form" method="POST" action="/creditcardinfo">
            {{#if alertMsg}}
            <p class="alertMsg">{{alertMsg}}</p>
            {{/if }}
            <div class="card border-primary mb-3 mx-auto">
                <div class="card-header bg-dark text-font-white">Add Credit card</div>
                <div class="card-body text-primary">
                    <div class="dropdown">
                        <div class="d-inline text-font-black">Bank</div>
                        <select id="bankname" name="bankname" class="form-control btn-primary col-10 mt-2 mb-2" required>
                            <option value="BOFA">BoFA</option>
                            <option value="Chase">Chase</option>
                            <option value="Wells Fargo">Wells Fargo</option>
                            <option value="TD">TD</option>
                        </select>
                    </div>
                    <div class="d-inline text-font-black">Amount Due</div>
                    <input type="text" class="form-control col-10 mt-2" name="amountdue" id="amountdue"
                        aria-describedby="basic-addon3">
                </div>
                <div class="modal-footer bg-dark">
                            <input type="submit"  name="addnewcreditcard" id="addnewcreditcard" formaction  ="creditcardinfo/add" value="Add New CreditCard " onclick="window.location.href='creditcardinfo/add'" class="btn btn-secondary"/>
                    <a href="./expenses"><button type="button" name="previous" id="previous"
                            class="btn btn-secondary" data-dismiss="modal">Previous</button></a>
                   <button type="submit" name="next" id="next" onclick="window.location.href='/loan'" class="cust-button">Next</button></a>
                </div>
        </form>
    </div>
</article>