<article>
    <div class="bg-light">
        <nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
            <a class="navbar-brand" href="http://localhost:3000"><img src=".\public\images\logo.jpg" width="130" height="90"></a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="./howitworks">How it works</a>
                    </li>
                </ul>
                {{#if error}}
                <div class="alert alert-danger" role="alert">
                    {{error}}
                </div>
                {{/if}}
                {{#if logoutMsg}}
                <div class="alert alert-success" role="alert">
                    {{logoutMsg}}
                </div>
                {{/if}}
                <a href="/Logout"><button class="btn btn-outline-success my-2 my-sm-0" name="login" id="login"
                        type="submit">Logout</button></a>
            </div>
        </nav>

        
        <div class="text-center">
                     <div class="bird"></div>
                    <div class="dashboard-style">
                    <h5 class="dash1">
                    Welcome, You are logged in!
                    <span class="dash2">Let's Get Started</span>
                    </h5>
            <br>
            <br>

            <a href="/bankdetails"><button type="button" name="createbudget" id="createbudget" class="animatedbutton"
                    data-dismiss="modal">Create
                    Budget</button></a>
            <a href="/viewBudget"><button type="button" name="viewbudget" id="viewbudget"
                    class="animatedbutton ml-5">View Budget</button></a>

            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            </div>
        </div>
    </div>
</article>