<article>
    <div class="bg-light">
        <p>Welcome to the dashboard!"</p>
        <a href="/Logout">Logout</a>

        <div class="text-center">
            <a href="/bankdetails"><button type="button" name="createbudget" id="createbudget" class="animatedbutton"
                    data-dismiss="modal">Create
                    Budget</button></a>
            <a href="/resultpage"><button type="button" name="viewbudget" id="viewbudget"
                    class="animatedbutton ml-5">View Budget</button></a>
        </div>
    </div>
</article>