<p>Welcome to the dashboard!"</p>
<a href="/Logout">Logout</a>

<div class="modal-footer bg-dark">
    <a href="/bankdetails"><button type="button" class="btn btn-secondary" data-dismiss="modal">Create Budget</button></a>
    <a href="/resultpage"><button type="button" class="btn btn-primary">View Budget</button></a>
</div>