<article>
    <div class="bg-light">
        <nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
            <a class="navbar-brand" href="http://localhost:3000"><img src="./public/images/logo.jpg" alt="Budget Tracker" width="130" height="90"></a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="./howitworks">How it works</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="./aboutus">About Us</a>
                    </li>
                </ul>
                {{#if error}}
                <div class="alert alert-danger" role="alert">
                    {{error}}
                </div>
                {{/if}}
                {{#if logoutMsg}}
                <div class="alert alert-success" role="alert">
                    {{logoutMsg}}
                </div>
                {{/if}}
                <a href="/Logout"><button class="btn btn-outline-info my-2 my-sm-0 mr-3" name="login" id="login"
                        type="submit">Logout</button></a>
            </div>
        </nav>
        <form id="expenses-form" method="POST" action="/expenses">
            {{#if alertMsg}}
            <p class="alertMsg">{{alertMsg}}</p>
            {{/if }}
            <div class="card border-primary mb-3 mx-auto">
                <div class="card-header bg-dark text-font-white">Add expenses</div>
                <div class="card-body text-primary">
                    <div class="dropdown">
                        <div class="d-inline text-font-black">Category:</div>
                            <select id="category" name="category" class="form-control btn-primary col-10" required>
                                <option value="Accomodation">Accomodation</option>
                                <option value="Groceries">Groceries</option>
                                <option value="Taxes">Taxes</option>
                                <option value="Education">Education</option>
                                <option value="Utilities">Utilities</option>
                                <option value="Transport">Transport</option>
                                <option value="Shopping">Shopping</option>
                                <option value="Vacation">Vacation</option>
                            </select>
                    </div>
                    <div class="d-inline text-font-black">Title:</div>
                    <input type="text" class="form-control col-10" name="title" id="title"
                        aria-describedby="basic-addon3">

                    <div class="d-inline text-font-black">Amount:</div>
                    <input type="text" class="form-control col-10" name="amount" id="amount"
                        aria-describedby="basic-addon3">

                    <div class="dropdown">
                        <div class="d-inline text-font-black">Mode Of Payment:</div>
                            <select id="modeofpayment" name="modeofpayment" class="form-control btn-primary col-10" required>
                                <option value="Taxes">Credit Card</option>
                                <option value="Education">Debit Card</option>
                                <option value="Accomodation">Cash</option>
                            </select>
                    </div>

                    <div class="d-inline text-font-black">Date:</div>
                    <input type="date" class="form-control col-10" name="date" id="date"
                        aria-describedby="basic-addon3">

                    <div class="d-inline text-font-black">Comments:</div>
                    <input type="text" class="form-control col-10" name="comments" id="comments"
                        aria-describedby="basic-addon3">

                </div>
                <div class="modal-footer bg-dark">
                    
                    <input type="submit"  name="addnewexpense" id="addnewexpense" formaction  ="expenses/add"value="Add New Expenses " onclick="window.location.href='/expenses/add'" class="btn btn-secondary"/>
                    <a href="./bankdetails"><button type="button" name="previous" id="previous" class="btn btn-secondary"
                        data-dismiss="modal">Previous</button></a>
                    <button type="submit" name="next" id="next" onclick="window.location.href='/creditcardinfo'" class="btn btn-primary">Next</button></a>
                </div>
        </form>
    </div>
</article>