<article>
    <div class="bg-light">
        <nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
            <a class="navbar-brand" href="http://localhost:3000">Budget Tracker</a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="./howitworks">How it works</a>
                    </li>
                </ul>
                {{#if error}}
                <div class="alert alert-danger" role="alert">
                    {{error}}
                </div>
                {{/if}}
                {{#if logoutMsg}}
                <div class="alert alert-success" role="alert">
                    {{logoutMsg}}
                </div>
                {{/if}}
                <a href="/Logout"><button class="btn btn-outline-success my-2 my-sm-0" name="login" id="login"
                        type="submit">Logout</button></a>
            </div>
        </nav>
        <form id="expenses-form" method="POST" action="/expenses">
            {{#if alertMsg}}
            <p class="alertMsg">{{alertMsg}}</p>
            {{/if }}
            <div class="card border-primary mb-3 mx-auto">
                <div class="card-header bg-dark text-font-white">Add expenses</div>
                <div class="card-body text-primary">
                    {{!-- <h5 class="card-title">Add Bank Account</h5> --}}

                    <div class="dropdown">
                        <div class="d-inline text-font-black">Category:</div>
                        {{!-- <button class="btn btn-smd btn-primary dropdown-toggle" type="button" id="dropdownMenuButton"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Dropdown button
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton"> --}}
                            <select id="category" name="category" class="form-control col-10" required>
                                <option value="">Choose</option>
                                <option value="Gold">Gold</option>
                                <option value="Platinum">Platinum</option>
                                <option value="Diamond">Diamond</option>
                                <option value="Silver">Silver</option>
                            </select>
                        {{!-- </div> --}}
                    </div>
                    <div class="d-inline text-font-black">Title:</div>
                    <input type="text" class="form-control col-10" name="title" id="title"
                        aria-describedby="basic-addon3">

                    <div class="d-inline text-font-black">Amount:</div>
                    <input type="text" class="form-control col-10" name="amount" id="amount"
                        aria-describedby="basic-addon3">

                    <div class="d-inline text-font-black">Mode of Payment:</div>
                    <input type="text" class="form-control col-10" name="modeofpayment" id="modeofpayment"
                        aria-describedby="basic-addon3">

                    <div class="d-inline text-font-black">Date:</div>
                    <input type="date" class="form-control col-10" name="date" id="date"
                        aria-describedby="basic-addon3">

                    <div class="d-inline text-font-black">Comments:</div>
                    <input type="text" class="form-control col-10" name="comments" id="comments"
                        aria-describedby="basic-addon3">

                </div>
                <div class="modal-footer bg-dark">
                    <a href="./bankdetails"><button type="button" name="previous" id="previous" class="btn btn-secondary"
                        data-dismiss="modal">Previous</button></a>
                    <button type="button" name="next" id="next" class="btn btn-primary">Next</button>
                </div>
        </form>
    </div>
</article>