<article>
    <div class="bg-light">
        <nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
            <a class="navbar-brand" href="http://localhost:3000">Budget Tracker</a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="./howitworks">How it works</a>
                    </li>
                </ul>
                {{#if error}}
                <div class="alert alert-danger" role="alert">
                    {{error}}
                </div>
                {{/if}}
                {{#if logoutMsg}}
                <div class="alert alert-success" role="alert">
                    {{logoutMsg}}
                </div>
                {{/if}}
                <div>
                    <form class="form-inline my-2 my-lg-0" id="login-form" method="POST" action="/home">
                        <input class="form-control mr-sm-2" name="username" id="username" type="Username"
                            placeholder="Username" aria-label="Search" required>
                        <input class="form-control mr-sm-2" name="password" id="password" type="Password"
                            placeholder="Password" aria-label="Search" required>
                        <button class="btn btn-outline-success my-2 my-sm-0" name="login" id="login"
                            type="submit">Login</button>
                    </form>
                </div>
                <div>
                    <button class="btn btn-outline-success my-2 my-sm-0 ml-2" name="signup" id="signup"
                        data-toggle="modal" data-target="#modalRegisterForm">SignUp</button>

                    <!-- Modal -->
                   
                    <div class="modal fade" id="modalRegisterForm" tabindex="-1" role="dialog"
                        aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header text-center">
                                    <h4 class="modal-title w-100 font-weight-bold">Sign up</h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body mx-3">
                                    <div class="md-form mb-5">
                                        <i class="fas fa-user prefix grey-text"></i>
                                        <input type="text" id="orangeForm-name" class="form-control validate" placeholder="Your name">
                                    </div>
                                    <div class="md-form mb-5">
                                        <i class="fas fa-envelope prefix grey-text"></i>
                                        <input type="email" id="orangeForm-email" class="form-control validate" placeholder="Your email">
                                    </div>

                                    <div class="md-form mb-4">
                                        <i class="fas fa-lock prefix grey-text"></i>
                                        <input type="password" id="orangeForm-pass" class="form-control validate" placeholder="Your password">
                                    </div>

                                </div>
                                <div class="modal-footer d-flex justify-content-center">
                                    <button class="btn btn-deep-orange">Sign up</button>
                                </div>
                            </div>
                        </div>
                    </div>
                   
        </nav>

        <div class="col-md-10 mt-3 ml-5">
            <div
                class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-success">Features</strong>
                    {{!-- <h3 class="mb-0">Post title</h3> --}}
                    {{!-- <div class="mb-1 text-muted">Nov 11</div> --}}
                    <p class="mb-auto">Budgeting is the process of creating a plan to spend one’s money. This spending
                        plan is called a budget. Creating this
                        spending plan allows to determine in advance whether there is enough money to do the things need
                        to be done or would
                        like to be done.</p>
                    {{!-- <a href="#" class="stretched-link">Continue reading</a> --}}
                </div>
                <div class="col-auto d-none d-lg-block">
                    <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg"
                        preserveAspectRatio="xMidYMid slice" focusable="false" role="img"
                        aria-label="Placeholder: Thumbnail">
                        <img src=".\public\images\img-8.jpg" alt="Cinque Terre" width="500" height="300">
                    </svg>
                </div>
            </div>
        </div>
        <div class="col-md-10 mt-3 ml-5">
            <div
                class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-success">Features</strong>
                    {{!-- <h3 class="mb-0">Post title</h3> --}}
                    {{!-- <div class="mb-1 text-muted">Nov 11</div> --}}
                    <p class="mb-auto">Budget Tracker will help to track the budget categories, budget plan for each
                        month and actual
                        expenses. Budget Tracker will provide quick chart reports that graphically display the budget
                        and expense trends.</p>
                    {{!-- <a href="#" class="stretched-link">Continue reading</a> --}}
                </div>
                <div class="col-auto d-none d-lg-block">
                    <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg"
                        preserveAspectRatio="xMidYMid slice" focusable="false" role="img"
                        aria-label="Placeholder: Thumbnail">
                        <img src=".\public\images\img-8.jpg" alt="Cinque Terre" width="500" height="300">
                    </svg>
                </div>
            </div>
        </div>
        <div class="text-center">
            <a align="center" href="#username"><button class="btn btn-outline-success my-2 my-sm-0" name="login" id="login"
                            type="submit">Login</button></a>
            <a href="#signup"><button class="btn btn-outline-success my-2 my-sm-0 ml-2" name="signup" id="signup"
                        data-toggle="modal" data-target="#modalRegisterForm">SignUp</button></a>
        </div>
    </div>
</article>